* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kanit";
  background-color: black;
}

.Container {
  text-align: center;
  margin-top: 200px;
  position: relative;
}
/* ขาดเงารูปปปป */
img {
  border: 10px white solid;
}

.Pic-name {
  position: absolute;
  left: 480px;
  bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.lable-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 260px;
  left: 970px;
  width: 100px;
  height: 40px;
  background-color: grey;
}

.text {
  font-size: 25px;
  color: white;
}
