* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-chatbox {
  height: 50px;
  background-color: #808080;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

p {
  font-size: 26px;
  color: white;
}

.chat-person-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 50px;
}

.box-text-1,
.box-text-3 {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #09be09;
  margin: 5px;
  border-radius: 20px;
}

.box-text-2 {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #e7e3e3;
  margin: 5px;
  border-radius: 20px;
}

.text-1,
.text-2,
.text-3 {
  position: absolute;
  left: 10px;
  top: 10px;
}
/* >>>>>>>> Section person 2 <<<<<<<< */

.chat-person-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px;
}

.box-text-4,
.box-text-5 {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #808080;
  margin: 5px;
  border-radius: 20px;
}

.text-4,
.text-5 {
  position: absolute;
  left: 10px;
  top: 10px;
}
